{% extends 'base.html.twig' %}

{% block title %}Add new module{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center text-black my-2">Ajouter un module</h3>
            </div>
            <div class="card-body">
                <form action="" method="POST" class="form">
                   <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" name="nom" id="inputNom" type="text" placeholder="Nom" required='required' />
                                <label for="inputNom">Nom</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" name="fabricant" id="inputFabricant" type="text" placeholder="Fabricant" required='required' />
                                <label for="inputFabricant">Fabricant</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" name="NumSerie" id="inputNumSerie" type="number" placeholder="Numero de série" required='required' />
                                <label for="inputNumSerie">Numero de série</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control" id="etat_initial" name="etat_initial" required="required">
                                    <option value="">État initial</option>
                                    <option value="1">Opérationnel</option>
                                    <option value="2">En panne</option>
                                    <option value="1">En maintenance</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating ">
                                <select class="form-control" id="type_module" name="type_module" required="required">
                                    <option value="">Sélectionnez le type de module</option>
                                    <option value="1">Capteur de Température</option>
                                    <option value="2">Capteur de Vitesse</option>
                                    <option value="autre">Autre</option>
                                </select>
                            </div>
                        </div>
                
                        <div class="col-md-6" id="autre_type_module_container" style="display: none;">
                            <div class="form-floating ">
                                <a href="AjouterTypeModule" class="btn btn-success btn-block"><th>Ajouter un nouveau type de module</th></a>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <div class="form-floating">
                                <textarea class="form-control" name="description" id="inputDescription" placeholder="Description" required='required' style="height: 150px;"></textarea>
                                <label for="inputDescription">Description</label>
                            </div>                        
                        </div>
                    </div>

                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <th><input class="btn btn-success btn-block" type='submit' value='Ajouter'></th>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


