{% extends 'base.html.twig' %}

{% block title %}Liste des modules
{% endblock %}

{% block body %}

	<div class="card-body">
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">
						<center>Notifications</center>
					</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>
						<center>test</center>
					</td>
				</tr>

			</tbody>
		</table>

	</div>

{% endblock %}
